.flexbox-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.flexbox-item{
 width: 100%;
 margin: 5px;
 border: 3px;
 background-color: white;
}

.flexbox-item1{
min-height:100px;
}

.flexbox-item2 {
    background-color: blue;
    background-image: url(Banner1.PNG);
    background-size: cover;
    padding-top:200px ;
    padding-bottom: 400px;
}
.flexbox-item3{
    min-height:300px;
}

.header {
    font-size: 80px;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    text-align: center;
}

.body-content{
   
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 25px;
    
}

h1 {
    text-align: center;
}
.paragraph {
    background-color: #f1eded;
    font-size:17px ;
    border: 2px #ababab;
    border-radius: 8px;
    width: 70%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}