.header-main{
    width: 100%;
    height: 40px;
    background-color: #000;
    display: flex;
    justify-content: center;
}



.header-nav1{
    width: 100px;
    height: 20px;
    background-color: #dad9df;

}
