.flexbox-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.flexbox-item{
 width: 100%;
 margin: 5px;
 border: 3px;
 background-color: white;
}

.flexbox-item1{
min-height:100px;
}

.flexbox-item2{
    min-height:200px;
}
.flexbox-item3{
    min-height:300px;
}

.header {
    font-size: 80px;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    justify-items: center;
}